@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --background-color: #fff;
    --text-color: #000;
}
[data-theme="dark"] {
    --background-color: #000;
    --text-color: #fff;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
     transition: 0.3s ease;
    text-align: center;
    height: 100vh;
}

#gradient{
    position: relative;
    background: linear-gradient(45deg, #884DFF, #EB96EB);
    width: 250px;
    height: 320px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 2px 31px 35px -15px rgba(0,0,0,0.64);
}
[data-theme="dark"] #gradient {
    box-shadow: 2px 31px 35px -15px rgba(211, 206, 206, 0.64);
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgba(0,0,0,.5);
    margin: 0;
    padding: 0.7rem;
}
[data-theme="dark"] h1{
    color: #f1f1f1;
}

input{
    border-radius: 0px;
    height: 30px;
    width: 80px;
    background-color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
[data-theme="dark"] input{
    background-color: #000;
}

input::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
}

h3 {
    color: rgba(0,0,0,.5);
    text-align: center;
    letter-spacing: .3em;
    width: 100%;
    margin: 2rem auto;
}
[data-theme="dark"] h3{ 
    color: #d1cece;
}

h4{
    font-family: monospace;
    font-size: 1.3rem;
}

.code{
    margin: auto 6rem;
    width: 50%;
}

.ratio {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}
[data-theme="dark"] .ratio {
    background-color: #fff;
    color: #000;
}

#type {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 5px;
    width: 150px;
}
[data-theme="dark"] #type {
    background-color: #fff;
    color: #000;
}

#myTooltip {
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#f6d327, #E63E6D);
    color: #fff;
    border: #000 solid 4px;
    display: block;
    border-radius: 10px;
    padding: 6px;
    position: relative;
    margin-left: 21vw;
    font-size: larger;
    text-transform: uppercase;
}
[data-theme="dark"] #myTooltip {
    background: linear-gradient(#f6d327, #E63E6D);
    color: #000;
    border: #fff solid 4px;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}

@media screen and (max-width: 900px) {
    .container1{
        flex-direction: column;
    }
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: 45%;
}

label.switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 35px;
    background: darkblue;
    display: block;
    border-radius: 10px;
    position: relative;
    margin-left: 50vw;
}

label.switch-label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background: #f6d327;
    border-radius: 90px;
    transition: 0.3s;
}

input#switch:checked+label.switch-label {
    background: lightskyblue;
}

input#switch:checked+label.switch-label:after {
    background: #E63E6D;
}

input#switch:checked+label.switch-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label.switch-label:active:after {
    width: 80px;
}